<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://appniziapisamirv3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9aa7bdbe-419f-42c1-887c-57c06728beb6/resourcegroups/Nizi/providers/Microsoft.Web/sites/AppNiZiAPISamirV3</ResourceId>
    <UserName>$AppNiZiAPISamirV3</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://appniziapisamirv3.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>